@using Dragonfly.NetModels
@using Dragonfly.UmbracoSiteTester

@inject SiteTesterService TesterService

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<StatusMessage>
@{
	var config = TesterService.GetAppDataConfig();
    var pvException = HtmlHelpers.GetViewsPath(config) + "Partials/ExceptionDetailsLink.cshtml";
}

@if (Model.Message != "")
{
    <h3 style="color: red;">@Model.Message</h3>
    @if (Model.DetailedMessages.Any())
    {
	    <ul>
            @foreach (var msg in Model.DetailedMessages)
		    {
                <li>@msg</li>
		    }
	    </ul>
    }
}

@if (Model.InnerStatuses.Any())
{
    <p>Below are all logged messages:</p>
    <ol>
        @foreach (var innerMsg in Model.InnerStatuses)
        {
            <li>
                @if (!innerMsg.Success)
                {
                    <b style="color: red;">FAILED: </b>
                }
            @*else
                {
                    <b>SUCCEEDED: </b>
                }*@<b>@innerMsg.Message</b>
                @if (!string.IsNullOrEmpty(innerMsg.MessageDetails))
                {
                    <br/>
                    @innerMsg.MessageDetails
                }
                @if (innerMsg.GetRelatedException() != null)
                {
                    <br/>
                    <pre>@innerMsg.GetRelatedException().Message</pre>
                    @Html.Partial(pvException, innerMsg.GetRelatedException())
                }
                <br/>
            </li>
        }
    </ol>
}
